
        .body-initial {
            background-color: rgba(33,33,37,1); 
        }
        .silex-id-1478366444112-1 {
            top: 100px; 
            left: NaNpx; 
            background-color: rgba(33,33,37,1); 
            min-width: 1200px; 
        }
        .silex-id-1478366444112-0 {
            min-height: 100px; 
            background-color: rgba(33,33,37,1); 
            width: 1200px; 
        }
        .silex-id-1487094824355-0 {
            min-height: 100px; 
            width: 484px; 
            top: -13px; 
            left: 30px; 
        }
        .silex-id-1487095184566-1 {
            min-height: 60px; 
            width: 505px; 
            top: 45px; 
            left: 31px; 
        }
        .silex-id-1474394621033-3 {
            top: 100px; 
            left: 0px; 
            min-width: 1200px; 
            background-color: rgba(33,33,37,1); 
        }
        .silex-id-1474394621032-2 {
            min-height: 348px; 
            background-color: rgba(33,33,37,1); 
            width: 1200px; 
        }
        .silex-id-1487095429590-4 {
            min-height: 24px; 
            width: 107px; 
            top: 17px; 
            left: 22px; 
        }
        .silex-id-1487095466430-5 {
            min-height: 24px; 
            width: 107px; 
            top: 46px; 
            left: 22px; 
        }
        .silex-id-1487095483044-6 {
            min-height: 24px; 
            width: 107px; 
            top: 77px; 
            left: 20px; 
        }
        .silex-id-1487095880512-8 {
            min-height: 608px; 
            width: 636px; 
            top: 100px; 
            left: 154px; 
        }
    