
        .body-initial {
            background-color: rgba(33,33,37,1); 
        }
        .silex-id-1478366444112-1 {
            top: 100px; 
            left: NaNpx; 
            background-color: rgba(33,33,37,1); 
            min-width: 1200px; 
        }
        .silex-id-1478366444112-0 {
            min-height: 100px; 
            background-color: rgba(33,33,37,1); 
            width: 1200px; 
        }
        .silex-id-1487094824355-0 {
            min-height: 100px; 
            width: 484px; 
            top: -13px; 
            left: 30px; 
        }
        .silex-id-1487095184566-1 {
            min-height: 60px; 
            width: 505px; 
            top: 45px; 
            left: 31px; 
        }
        .silex-id-1474394621033-3 {
            top: 100px; 
            left: 0px; 
            min-width: 1200px; 
            background-color: rgba(33,33,37,1); 
            border-color: #ffffff; 
        }
        .silex-id-1474394621032-2 {
            min-height: 1076px; 
            background-color: rgba(33,33,37,1); 
            width: 1200px; 
            border-color: #000000; 
        }
        .silex-id-1487105121191-9 {
            min-height: 69px; 
            width: 153px; 
            top: 16px; 
            left: 98px; 
        }
        .silex-id-1487105155235-10 {
            min-height: 177px; 
            width: 585px; 
            top: 89px; 
            left: 34px; 
        }
        .silex-id-1487105705775-11 {
            min-height: 204px; 
            width: 400px; 
            background-color: rgb(255, 255, 255); 
            top: 62px; 
            left: 669px; 
        }
        .silex-id-1487106272103-13 {
            min-height: 69px; 
            width: 241px; 
            top: 340px; 
            left: 696px; 
        }
        .silex-id-1487107333468-15 {
            min-height: 304px; 
            width: 536px; 
            background-color: rgb(255, 255, 255); 
            top: 402px; 
            left: 38px; 
        }
        .silex-id-1487106936003-14 {
            min-height: 177px; 
            width: 585px; 
            top: 431px; 
            left: 599px; 
        }
        .silex-id-1487107773033-16 {
            min-height: 69px; 
            width: 241px; 
            top: 763px; 
            left: 158px; 
        }
        .silex-id-1487107807582-17 {
            min-height: 177px; 
            width: 585px; 
            top: 833px; 
            left: 59px; 
        }
        .silex-id-1487108291833-18 {
            min-height: 168px; 
            width: 823px; 
            top: 15px; 
            left: 31px; 
        }
        .silex-id-1487111684728-19 {
            min-height: 721px; 
            width: 1152px; 
            background-color: rgba(33,33,37,1); 
            top: 196px; 
            left: 35px; 
            border-color: #000000; 
        }
        .silex-id-1487114239698-21 {
            min-height: 102px; 
            width: 1002px; 
            top: 17px; 
            left: 30px; 
        }
        .silex-id-1487114616259-25 {
            min-height: 260px; 
            width: 289px; 
            top: 339px; 
            left: 54px; 
        }
        .silex-id-1487114524608-22 {
            min-height: 10px; 
            width: 145px; 
            background-color: rgba(33,33,37,1); 
            top: 152px; 
            left: 106px; 
        }
        .silex-id-1487114856931-26 {
            min-height: 260px; 
            width: 289px; 
            top: 338px; 
            left: 437px; 
        }
        .silex-id-1487115279107-27 {
            min-height: 260px; 
            width: 289px; 
            top: 336px; 
            left: 859px; 
        }
        .silex-id-1487114581871-24 {
            min-height: 150px; 
            width: 156px; 
            background-color: rgba(33,33,37,1); 
            top: 152px; 
            left: 900px; 
        }
        .silex-id-1487114579138-23 {
            min-height: 150px; 
            width: 156px; 
            background-color: rgba(33,33,37,1); 
            top: 152px; 
            left: 468px; 
        }
        .silex-id-1487095429590-4 {
            min-height: 24px; 
            width: 107px; 
            top: 17px; 
            left: 22px; 
        }
        .silex-id-1487095466430-5 {
            min-height: 24px; 
            width: 107px; 
            top: 46px; 
            left: 22px; 
        }
        .silex-id-1487095483044-6 {
            min-height: 24px; 
            width: 107px; 
            top: 77px; 
            left: 20px; 
        }
        .silex-id-1487111724214-20 {
            min-height: 608px; 
            width: 1146px; 
            top: 320px; 
            left: 189px; 
        }
    