
        .body-initial {
            background-color: rgba(33,33,37,1); 
        }
        .silex-id-1478366444112-1 {
            top: 100px; 
            left: NaNpx; 
            background-color: rgba(33,33,37,1); 
            min-width: 1200px; 
        }
        .silex-id-1478366444112-0 {
            min-height: 100px; 
            background-color: rgba(33,33,37,1); 
            width: 1200px; 
        }
        .silex-id-1487094824355-0 {
            min-height: 100px; 
            width: 484px; 
            top: -13px; 
            left: 30px; 
        }
        .silex-id-1487095184566-1 {
            min-height: 60px; 
            width: 505px; 
            top: 45px; 
            left: 41px; 
        }
        .silex-id-1474394621033-3 {
            top: 100px; 
            left: 0px; 
            min-width: 1200px; 
            background-color: rgba(33,33,37,1); 
            border-color: #ffffff; 
        }
        .main_container {
            min-height: 1576px; 
            background-color: rgba(33,33,37,1); 
            width: 1200px; 
            border-color: #000000; 
        }
        .silex-id-1487105121191-9 {
            min-height: 69px; 
            width: 153px; 
            top: 16px; 
            left: 98px; 
        }
        .how_txt1 {
            min-height: 177px; 
            width: 850px; 
            top: 89px; 
            left: 34px; 
        }
        .how_txt2 {
            min-height: 177px; 
            width: 735px; 
            top: 519px; 
            left: 434px; 
        }
        .box_pic {
            min-height: 204px; 
            width: 600px;
            top: 602px; 
            left: 709px; 
        }
        .silex-id-1487105705775-11 {
            min-height: 204px; 
            width: 600px; 
            background-color: rgb(255, 255, 255); 
            top: 172px; 
            left: 69px; 
        }
        .solution_heading {
            min-height: 69px; 
            width: 241px; 
            top: 840px; 
            left: 126px; 
        }
        .lsd_schema {
            min-height: 304px; 
            width: 536px; 
            background-color: rgb(255, 255, 255); 
            top: 1172px; 
            left: 120px; 
        }
        .how_txt3 {
            min-height: 177px; 
            width: 585px; 
            top: 901px; 
            left: 99px; 
        }
        .adv_heading {
            min-height: 69px; 
            width: 241px; 
            top: 983px; 
            left: 858px; 
        }
        .adv_txt {
            min-height: 177px; 
            width: 585px; 
            top: 1033px; 
            left: 759px; 
        }
        .silex-id-1487108291833-18 {
            min-height: 168px; 
            width: 860px; 
            top: 15px; 
            left: 31px; 
        }
        .silex-id-1487111684728-19 {
            min-height: 721px; 
            width: 1152px; 
            background-color: rgba(33,33,37,1); 
            top: 196px; 
            left: 35px; 
            border-color: #000000; 
        }
        .silex-id-1487114239698-21 {
            min-height: 102px; 
            width: 1002px; 
            top: 17px; 
            left: 30px; 
        }
        .meng_bio {
            min-height: 260px; 
            width: 290px; 
            top: 340px; 
            left: 54px; 
        }
        .david_bio {
            min-height: 260px; 
            width: 290px; 
            top: 340px; 
            left: 437px; 
        }
        .martin_bio {
            min-height: 260px; 
            width: 290px; 
            top: 340px; 
            left: 820px; 
        }
        .meng_pic {
            min-height: 10px; 
            width: 145px; 
            background-color: rgba(33,33,37,1); 
            top: 152px; 
            left: 104px; 
        }
        .martin_pic {
            min-height: 150px; 
            width: 156px; 
            background-color: rgba(33,33,37,1); 
            top: 152px; 
            left: 870px; 
        }
        .david_pic {
            min-height: 150px; 
            width: 156px; 
            background-color: rgba(33,33,37,1); 
            top: 152px; 
            left: 487px; 
        }
        .silex-id-1487095429590-4 {
            min-height: 24px; 
            width: 107px; 
            top: 17px; 
            left: 22px; 
        }
        .silex-id-1487095466430-5 {
            min-height: 24px; 
            width: 107px; 
            top: 46px; 
            left: 22px; 
        }
        .silex-id-1487095483044-6 {
            min-height: 24px; 
            width: 107px; 
            top: 77px; 
            left: 20px; 
        }
        .silex-id-1487111724214-20 {
            min-height: 608px; 
            width: 1146px; 
            top: 320px; 
            left: 189px; 
        }
        
    